html {
  font-family: "Poppins", "Manrope", "Open Sans", "Montserrat", sans-serif;
  font-style: normal;
  background: #000;
  color: white;
}

* {
  font-family: "Montserrat";
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
